{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">

    {% include "left.html" %}
    
    <div class="span9">

      {% if shows %}      
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Spectacle" %}</th>
	    <th>{% trans "Places réservées" %}</th>
	    <th>{% trans "Résa" %}</th>
	    <th>{% trans "CSV" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for show in shows %}
	  <tr>
	    <td><a href="/accounts/spectacle/{{show.id}}">{{ show.title }}</a></td>
	    <td>{{ show.nb_places_booked }}</td>
	    <td>{{ show.nb_perf }}</td>
	    <td><a href="/accounts/spectacle/{{show.id}}/resa/">liste</a></td>
	    <td><a href="/{{show.url}}/representation/{{ show.id }}/show/csv/">CSV</a></td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      <div class="pagination">
	<ul>
	  <li class="previous">
	    <a href="?page={{shows.previous_page_number}}">&larr;</a>
	  </li>
	  {% for page in shows.paginator.page_range %}
	  {% if page == shows.number %}
	  <li class="active">
	    {% else %}
	  <li>
	    {% endif %}
	    <a href="?page={{page}}">{{page}}</a>
	  </li>
	  {% endfor %}
	  <li class="next">
	    <a href="?page={{shows.next_page_number}}">&rarr;</a>
	  </li>
	</ul>
      </div>

      {% endif %}



    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->
{% include "footer.html" %}
