{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">  
  <div class="row">
    {% include "left.html" %}

    <div class="span9">
      
      <div class="page-header">
	<h1>Nouveau spectacle</h1>
      </div>
      
      <div>
	<form class="well form-horizontal" action="/accounts/spectacle/nouveau/" method="post">
	  {% csrf_token %}
	  <fieldset>
	    <div class="control-group">
	      <label class="control-label" for="title">{% trans "Title" %}</label>
	      <div class="controls">
		{{form.title}}
		{{form.title.errors}}
	      </div>
	    </div>
	    
	    <div class="control-group">
	      <label class="control-label" for="company">{% trans "Company" %}</label>
	      <div class="controls">
		{{form.company}}
		{{form.company.errors}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="description">{% trans "Description" %}</label>
	      <div class="controls">
		{{form.description}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="checkbox">
	      <div class="controls">
		{{form.published}} {% trans "Published" %}
		</label>
		{{form.published.errors}}
	      </div>
	    </div>

	    <hr/>
	    <h3>{% trans "Contact" %}</h3>
	    <div class="control-group">
	      <label class="control-label" for="contact_name">{% trans "Name" %}</label>
	      <div class="controls">
		{{form.contact_name}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="contact_tel">{% trans "Tel" %}</label>
	      <div class="controls">
		{{form.contact_tel}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="contact_email">{% trans "Email" %}</label>
	      <div class="controls">
		{{form.contact_email}}
		{{form.contact_email.errors}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="company_url">{% trans "Company's URL" %}</label>
	      <div class="controls">
		{{form.company_url}}
		{{form.company_url.errors}}
	      </div>
	    </div>

	    <div class="control-group">
	      <label class="control-label" for="show_url">{% trans "Show's URL" %}</label>
	      <div class="controls">
		{{form.show_url}}
		{{form.show_url.errors}}
	      </div>
	    </div>

	    <div class="control-group">
	      <div class="controls">
	      <input id="book_btn" type="submit" class="btn btn-success" value="{% trans "Save" %}" />
	      </div>
	    </div>
	    
	  </fieldset>
	</form>
	</div>
    </div>
  </div><!-- /.row --> 
</div><!--/.container-->
{% include "footer.html" %}
