{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  
  <div class="row">

    {% include "left.html" %}

    <div class="span9">
      
      <div class="page-header">
	<h1>{% trans "Show" %}</h1>
      </div>
      
      <div>

	<table class="table table-bordered">
	  <tr>
	    <td>{% trans "Title" %}</td><td>{{show.title}}</td>
	  </tr>
	  <tr>
	    <td>{% trans "Company" %}</td><td>{{show.company}}</td>
	  </tr>
	  <tr>
	    <td>{% trans "Published" %}</td><td>
	      {% if show.published %}
	      <span class="badge badge-success">oui</span>
	      {% else %}
	      <span class="badge badge-important">non</span>
	      {% endif %}
	    </td>
	  </tr>
	  <tr>
	    <td>Contact</td><td>{{show.contact_name}}</td>
	  </tr>
	  <tr>
	    <td>Contact coordonnées</td><td>{{show.contact_email}} / {{show.contact_tel}}</td>
	  </tr>

	  <tr>
	    <td>URL du spectacle</td>
	    <td>
	      <a href="{{show.show_url}}" target="_blank">{{show.show_url}}</a>
	    </td>
	  </tr>

	  <tr>
	    <td>URL de la compagnie</td>
	    <td><a href="{{show.company_url}}" target="_blank">{{show.company_url}}</a>
	    </td>
	  </tr>
      </table>
      
      <p>Créé par : {{show.created_by.first_name}} {{show.created_by.last_name}}</p>
      
      </div>

      <div>
	<button class="btn btn-primary">Modifier</button>
	{% if show.published %}
	<button class="btn btn-warning">{% trans "Unpublish" %}</button>
	{% else %}
	<button class="btn btn-success">{% trans "Publish" %}</button>
	{% endif %}
      </div>

    </div>
  </div><!-- /.row --> 
</div><!--/.container-->
{% include "footer.html" %}
