{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page-header">
  <h2>Montrer patte blanche</h2>
</div>
<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Log in' %}" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

<p>{% trans "Forgot password" %} ? <a href="{% url auth_password_reset %}">{% trans "Reset it" %}</a>!</p>
{% endblock %}
