{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
  <h2>{% trans "Register" %}</h2>
</div>

<form method="post" action=".">
  {% csrf_token %}
  {{ form.as_p }}

  <input type="submit" value="{% trans 'Submit' %}" />
</form>
{% endblock %}
