{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}
<div class="container">
  <div class="row">    
    <div class="span9">      
        {% block content %}{% endblock %}	
    </div><!--/span-->

    <!-- Rigth panel -->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% if event.booking_is_open and not event.is_complete %}
      {% include "events/free_places.html" %}
      {% endif %}
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li><a href="/events/{{ event.id }}/registered">{% trans "Registered" %}</a></li>
	</ul>	  
      </div><!--/.well -->

      {% include "events/right.html" %}
    </div>
    <!-- /Rigtht panel -->


  </div><!--/row-->  
</div><!--/.container-->
{% include "events/footer.html" %}
