{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}

<div class="container">
  <div class="row">

    <div class="span9">
      <div>
	<table class="table table-bordered">
	  <tr>
	    <td>{% trans "Event" %}</td>
	    <td colspan="4"><strong>{{ event.show }}</strong></td>
	  </tr>
	  <tr>
	    <td>{% trans "Date" %}</td>
	    <td colspan="4">
	      {{event.date|date:"l j F Y H:i" }}
	    </td>
	  </tr>	  
	  <tr>
	    <td>{% trans "RoomPlace" %}</td>
	    <td colspan="4">{{ event.place }}, {{ event.place.town }}</td>
	  </tr>
	</table>      
      </div>
      
      {% if result == 'success' %}
      <div class="alert alert-success">
	<p>Votre réservation {{uuid}} a été annulée</p>
      </div>
      {% endif %}
      {% if result == 'notexist' %}
      <div class="alert alert-danger">
	<p>Ce numéro de billet n'existe pas : {{uuid}}</p>
      </div>
      {% endif %}
    </div><!--/span-->

    <!-- Rigth panel -->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% if event.booking_is_open and not event.is_complete %}
      {% include "events/free_places.html" %}
      {% endif %}
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li><a href="/events/{{ event.id }}/registered">{% trans "Registered" %}</a></li>
	</ul>	  
      </div><!--/.well -->

      {% include "events/right.html" %}
    </div>
    <!-- /Rigtht panel -->


  </div><!--/row-->
  
</div><!--/.container-->

{% include "events/footer.html" %}
