{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}

<div class="container">
  <div class="row">

    <div class="span9">
      
      <div>
	<table class="table table-bordered">
	  <tr>
	    <td>{% trans "Event" %}</td>
	    <td colspan="4"><strong>{{ event.show }}</strong></td>
	  </tr>
	  <tr>
	    <td>{% trans "Date" %}</td>
	    <td colspan="4">
	      {{event.date|date:"l j F Y H:i" }}
	    </td>
	  </tr>	  
	  <tr>
	    <td>{% trans "RoomPlace" %}</td>
	    <td colspan="4">{{ event.place }}, {{ event.place.town }}</td>
	  </tr>
	</table>      
      </div>
            
      {% if event.booking_is_open and not event.is_complete %}

      {% if form.non_field_errors %}
      <div class="alert alert-error">
	{{ form.non_field_errors }}
      </div>
      {% endif %}
      
      <form class="well form-horizontal" action="/events/{{event.id}}" method="post">
	{% csrf_token %}
	<fieldset>
	  
	  <div class="control-group">
	    <label class="control-label" for="firstname">{% trans "Firstname" %}</label>
	    <div class="controls">
	      {{form.firstname}}
	      {{form.firstname.errors}}
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="name">{% trans "Name" %}</label>
	    <div class="controls">
	      {{form.name}}
	      {{form.name.errors}}
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="email">{% trans "email" %}</label>
	    <div class="controls">
	      {{form.email}}
	      {{form.email.errors}}
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <label class="control-label" for="firstname">{% trans "Handicap" %}</label>
	    <div class="controls">
	      {{form.handicap}}
	    </div>
	  </div>
	  
	  <div class="control-group">
	    <div class="controls">
	      <input id="book_btn" type="submit" class="btn btn-primary" value="{% trans "ToBook" %}" />
	    </div>
	  </div>	    
	</fieldset>
	
	<div >
	  <div class="control-group">
	    <label class="control-label" for="firstname">{% trans "Firstname" %}</label>
	    <div class="controls">
	      {{form.handicap_comment}}
	    </div>
	  </div>
	</div>

      </form>
      {% else %}
      <div>
	{% if event.is_complete %}
	<div class="alert alert-error">Complet, il n'y a plus de places disponibles.</div>
	{% else %}
	<div class="alert alert-info">La réservation pour ce spectacle est fermée.</div>
	{% endif %}
      </div>
      {% endif %}
            
      {% if bookings %}
      {% include "events/sub_registered.html" %}
      {% endif %}	
    </div><!--/span-->
    <!-- Rigth panel -->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% if event.booking_is_open and not event.is_complete %}
      {% include "events/free_places.html" %}
      {% endif %}
      
      {% if event.public_booking %}
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li><a href="/events/{{ event.id }}/registered">{% trans "Registered" %}</a></li>
	</ul>	  
      </div><!--/.well -->
      {% endif %}

      {% include "events/right.html" %}
    </div>
    <!-- /Rigtht panel -->
  </div><!--/row-->
  
</div><!--/.container-->
  
{% include "events/footer.html" %}
