{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}
<div class="container">
  <div class="row">

    <div class="span9">

      <div class="page-header">
	<h1>{% trans "Incoming events" %}</h1>
      </div>
      
      {% if events %}
      <table class="table table-striped">
	<thead>
	  <tr>
	    {% comment %}@TODO@ Fix translation Translators: only one word here please{% endcomment %}
	    <th>{% trans "Date" %}</th>
	    <th>{% trans "Event" %}</th>
	    <th>{% trans "Place" %}</th>
	    <th>{% trans "FreePlaces" %}</th>

	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for perf in events %}
	  <tr>
	    <td>
	      {% ifchanged %}{{perf.date|date:"D j M Y"}}		  		  
	      {% if perf.date|date:"Ymd" ==  today %}
	      <i class="icon-star"></i>
	      {% endif %}
	      {% endifchanged %}
	    </td>
	    <td><a href="{{prefix_url}}/events/{{ perf.id }}">{{ perf.show }}</a></td>
	    <td>{{perf.place.town}}</td>
	    <td>
	      {% if perf.nb_places_dispo > 0 and perf.booking_is_open %}
	      <span class="badge badge-info">{{perf.nb_places_dispo}}</span>
	      {% endif %}
	    </td>
	    <td>
	      {% if perf.is_complete %}
	      <a class="btn btn-danger disabled" href="#">{% trans "FullyBooked" %}</a>
	      {% else %}
	      {% if perf.booking_is_open %}
	      <a class="btn btn-success" href="{{prefix_url}}/events/{{ perf.id }}">{% trans "ToBook" %}</a>
	      {% else %}
	      <a class="btn btn-info disabled">{% trans "Closed" %}</a>
	      {% endif %}
	      {% endif %}
	    </td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% else %}
      <p>Aucunes représentations prévues.</p>
      {% endif %}            
    </div><!--/span9-->

    <div class="span3">
      {% include "events/left.html" %}
    </div>

  </div><!--/row--> 
</div><!--/.container-->
  
{% include "events/footer.html" %}
