{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}

<div class="container">
  <div class="row">

    <div class="span9">
      
      <div>
	<table class="table table-bordered">
	  <tr>
	    <td>{% trans "Event" %}</td>
	    <td colspan="4"><strong>{{ event.show }}</strong></td>
	  </tr>
	  <tr>
	    <td>{% trans "Date" %}</td>
	    <td colspan="4">
	      {{event.date|date:"l j F Y H:i" }}
	    </td>
	  </tr>	  
	  <tr>
	    <td>{% trans "RoomPlace" %}</td>
	    <td colspan="4">{{ event.place }}, {{ event.place.town }}</td>
	  </tr>
	</table>      
      </div>
                      
      <div class="alert alert-success">

	<p>{% trans "Thanks for your booking, please find here your book number :" %} {{event.uuid}}</p>
	<p>{% trans "You'll receive an email with your booking number, remind to check your spam folder if you don't see the email in you inbox." %}
	  {% trans "The email sender is :" %} {{email_from}}
	  </p>
	<p>
	  {% trans "Your informations :" %}
	  <ul>
	    <li>{{bkn.firstname}} {{bkn.name}}</li>
	    <li>{{bkn.email}}</li>
	  </ul>
      </div>

      {% if event.require_confirmation %}
      <div class="alert alert-info">
	Vous allez reçevoir un email qui contient une url vous
	permettant de confirmer votre inscription. Votre inscription
	de deviendra définitive qu'après avoir cliqué sur le lien.
      </div>
      {% endif %}
      
      <div class="alert alert-info">
	{% trans "You can cancel your registration by clicking " %}
	<span class="btn btn-cancel">
	  <a href="/events/{{event.id}}/cancel/{{bkn.uuid}}">Cancel</a>
	</span>
      </div>

            
      {% if bookings %}
      {% include "events/sub_registered.html" %}
      {% endif %}	
    </div><!--/span-->
    <!-- Rigth panel -->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% if event.booking_is_open and not event.is_complete %}
      {% include "events/free_places.html" %}
      {% endif %}
      <div class="well sidebar-nav">
	<ul class="nav nav-list">
	  <li><a href="/events/{{ event.id }}/registered">{% trans "Registered" %}</a></li>
	</ul>	  
      </div><!--/.well -->

      {% include "events/right.html" %}
    </div>
    <!-- /Rigtht panel -->
  </div><!--/row-->
  
</div><!--/.container-->
  
{% include "events/footer.html" %}
