{% if DEMO %}
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="alert alert-warning">
	<p>Ce site est une version de démonstration, vous y trouverez
	  des spectacles fantaisistes et des salles de spectacle
	  imaginaires ; aucune des réservations que vous y ferez ne sera honorée.
	</p>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if PIWIK_ID and PIWIK_FQDN %}
{% include "piwik.html" %}
{% endif %}

<script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-dropdown.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-collapse.js"></script>
<script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
<script src="{{ STATIC_URL }}js/hypadrie-bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/hypadrie.js"></script>

  </body>
</html>
