{% load i18n %}
<!-- infobox in left.html -->
<div class="alert alert-success sidebar-nav">
  <ul class="nav nav-list">
    <li>
      <span class="badge badge-success">{{event.nb_places_dispo}}</span> 
      {% if event.nb_places_dispo > 1 %}
      places disponibles
      {% else %}
      place disponible !
      {% endif %}
    </li>

    {% if event.nb_places_onspot > 0 %}
    <li style="padding-top: 10px">
      <span class="badge badge-success">{{event.nb_places_onspot}}</span> places seront à la vente sur site.
    </li>
    {% endif %}
    </ul>
</div>
