<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>Hypadrie - {{ title }}</title>
    {% else %}
    <title>Hypadrie</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Service de réservation de billets de spectacles">
    <meta name="keywords" content="billets, réservations, spectacle">
    <meta name="author" content="Rodolphe Quiédeville">

    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <!-- These CSS can-t be put in hypadrie.css -->
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.css" rel="stylesheet">
    <!--<link href="{{ STATIC_URL }}css/leaflet.css" rel="stylesheet">-->
    <link href="{{ STATIC_URL }}css/hypadrie.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
  </head>
  <body onload="initboot()">
