{% load i18n %}
<!-- infobox in left.html -->
<div class="well sidebar-nav">
  <ul class="nav nav-list">
    {% for event in last_events %}
    <li><a href="/events/{{ event.id }}">{{ event.show.title }}</a></li>
    {% endfor %}
  </ul>	  
</div><!--/.well -->

