{% load i18n %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="/events/">Hypadrie</a>
     
      <div class="nav-collapse">
        <ul class="nav">
	  {% if onglet == "events" %}
          <li class="active"><a href="/events/">{% trans "Events" %}</a></li>
	  {% else %}
          <li><a href="/events/">{% trans "Events" %}</a></li>
	  {% endif %}

	  {% if onglet == 'help' %}
          <li class="active"><a href="/events/help/">{% trans "Help" %}</a></li>
	  {% else %}
          <li><a href="/events/help/">{% trans "Help" %}</a></li>
	  {% endif %}

	  {% if onglet == 'contact' %}
          <li class="active"><a href="/events/contact/">Contact</a></li>
	  {% else %}
          <li><a href="/events/contact/">Contact</a></li>
	  {% endif %}

	  {% if onglet == 'about' %}
          <li class="active"><a href="/events/about/">A propos</a></li>
	  {% else %}
          <li><a href="/events/about/">A propos</a></li>
	  {% endif %}
        </ul>

	<form class="navbar-search pull-left" action="/events/search/">
	  <input type="text" class="search-query" name="q" placeholder="Search">
	</form>

        <p class="navbar-text pull-right">
	    {% if user.is_authenticated %}
	    Salut à toi {{ user.username }} /
	    <a href="/accounts/logout/">Déconnexion</a>
	    {% else %}
	    <a href="/accounts/login/">log in</a>
	    {% endif %}
	</p>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->
