{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}

<div class="container">
  <div class="row">

    <div class="span9">
      
      <div>
	<table class="table table-bordered">
	  <tr>
	    <td>{% trans "Show" %}</td>
	    <td colspan="4"><strong><a href="/events/{{ event.id}}">{{ event.show }}</a></strong></td>
	  </tr>
	  <tr>
	    <td>{% trans "Date" %}</td>
	    <td colspan="4">
	      {{event.date|date:"l j F Y H:i" }}
	    </td>
	  </tr>
	  
	  <tr>
	    <td>{% trans "RoomPlace" %}</td>
	    <td colspan="4">{{ event.place }}, {{ event.place.town }}</td>
	  </tr>
	</table>      
      </div>

      <div class="pagination">
	<ul>
	  <li class="previous">
	    <a href="?page={{bookings.previous_page_number}}">&larr;</a>
	  </li>
	  {% for page in bookings.paginator.page_range %}
	  {% if page == bookings.number %}
	  <li class="active">
	    {% else %}
	  <li>
	    {% endif %}
	    <a href="?page={{page}}">{{page}}</a>
	  </li>
	  {% endfor %}
	  <li class="next">
	    <a href="?page={{bookings.next_page_number}}">&rarr;</a>
	  </li>
	</ul>
      </div>
      
            
      {% if bookings %}
      <table class="table table-striped">
	<tbody>
	  {% for book in bookings %}
	  <tr>
	    <td>{{ book.firstname }} {{ book.name }}</td>
	  </tr>
	  {% endfor %}
      </table>
      {% endif %}	
    </div><!--/span-->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% if event.booking_is_open and not event.is_complete %}
      {% include "events/free_places.html" %}
      {% endif %}
      {% include "events/right.html" %}
    </div>
  </div><!--/row-->
  
</div><!--/.container-->
  
{% include "events/footer.html" %}
