{% load i18n %}
<!-- infobox in left.html -->

{% if user.is_authenticated %}
<div class="well">
  Compte : {{ user.username }}<br />
  <a href="/accounts/event/">Mon compte</a> <br/>
  {% if user.is_staff %}
  <a href="/admin/">Admin</a><br/>
  {% endif %}
  <a href="/accounts/event/new">{% trans "New events" %}</a> <br/>
  <a href="/accounts/spectacle/nouveau">{% trans "New show" %}</a> <br/>
</div>
{% endif %}

<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li><h6>{{ info_title }}</h6></li>
    <li>{{ info_information }}</li>
    {% if info_url %}
    <li><a href="{{ info_url }}" target="_blank"><i class="icon-plus"></i> plus d'infos</a></li>
    {% endif %}
  </ul>	  
</div><!--/.well -->
