{% load i18n %}
{% include "events/header.html" %}
{% include "events/navbar.html" %}
<div class="container">
  <div class="row">    
    <div class="span9">      

<h2>{% trans "Search" %}</h2>

<form method="get" action=".">
  <fieldset>

    <input type="text" name="q" value="{{query}}" id="id_q" />
    
    <input class="btn-success" type="submit" value="{% trans 'Search' %}">
      
  </fieldset>
      
  {% if query %}
  <h3>{% trans "Results" %}</h3>
  <ul>
    {% for entry in results %}
    <li>
      <a href="/events/{{entry.id}}">{{ entry.show.title}}</a>
    </li>
    {% empty %}
    <li>{% trans "No results found." %}</li>
    {% endfor %}
  </ul>
  
  {% if page.has_previous or page.has_next %}
  <div>
    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
    |
    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
  </div>
  {% endif %}
  {% else %}
  {# Show some example queries to run, maybe query syntax, something else? #}
  {% endif %}
</form>

    </div><!--/span-->

    <!-- Rigth panel -->
    <div class="span3">
      {% include "events/last_events.html" %}
      {% include "events/right.html" %}
    </div>
    <!-- /Rigtht panel -->

  </div><!--/row-->  
</div><!--/.container-->
{% include "events/footer.html" %}

