{% load i18n %}
<h2>{% trans "Last register" %}</h2>
<table class="table table-striped">
    {% for book in bookings %}
    <tr>
      <td>{{ book.firstname }} {{ book.name }}</td>
      <td>
	{% if book.confirmed %}
	<i class="icon-ok"></i>
	{% endif %}
      </td>
    </tr>
    {% endfor %}
</table>
