{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="page-header">
  <div class="well alert alert-error">
    <h1>404</h1>
    <p>
      Malgré tous nos efforts et notre bonne volonté il nous été
      impossible de trouver la page que vous demandez.
    <p/>
    <p>
      On appelle cela une erreur 404 : Page inconnue, l'excellent iste
      wikipédia y a même dédié une page : <a target="_blank" href="http://fr.wikipedia.org/wiki/Erreur_HTTP_404">Erreur_HTTP_404</a>
  </div>
  
  <div>
    Pour ne pas vous laisser seul(e) abandonné(e) nous vous invitons
    à consulter la liste :
    <ul>
      <li><a href="/spectacles/">des spectacles</a></li>
      <li><a href="/representations/">des représentations à venir</a></li>
    </ul>
    
  </div>
</div>
{% endblock %}
