{% extends "base.html" %}
{% load i18n %}
{% block content %}

<p>Hypadrie.eu est un service de réservation de place de spectacle. Hypadrie.eu utilise le <a href="http://www.april.org/articles/intro/ll.html" target="_blank">logiciel libre</a>
  Hypadrie publié sous licence GPL V3, dont les sources sont
  disponibles en ligne sur le
  site <a href="https://gitorious.org/hypadrie" target="_blank">Gitorious</a>.</p>

<p>Hypadrie a été conçu d'après une idée originale
  de Cédric Aubouy de la compagnie de clown
  scientifiques <a href="http://ilelogique.fr/" target="_blank">L'île
    logique</a> pour l'organisation
  du <a href="http://www.clownhorspiste.fr/"
	target="_blank">Clown hors-piste</a>.
</p>

<p>Hypadrie est principalement écrit jusqu'à ce jour par
  <a href="http://blog.rodolphe.quiedeville.org/" target="_blank">Rodolphe
    Quiédeville</a>, l'ensemble des outils utilisés pour sa
  conception sont des <a target="_blank" href="http://www.april.org/articles/intro/ll.html">logiciels libres</a> ; le framework de
  développement utilisé
  est <a target="_blank" href="https://www.djangoproject.com/">Django 1.4</a>,
  la base de
  données <a target="_blank" href="http://www.sqlite.org/">sqlite3</a> et le
  server web <a target="_blank" href="http://httpd.apache.org/">Apache
    2.0</a>. La partie design (sommaire s'il en est) est réalisée sur
    la base <a target="_blank"
    href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.
</p>

<p>Le nom Hypadrie est un hommage à celle qui peut être considérée
  comme la première femme mathématicienne connue <a target="_blank" href="http://fr.wikipedia.org/wiki/Hypatie">Hypatie d'Alexandrie</a>.
</p>      
<p>
  Si vous trouvez un bug dans Hypadrie nous vous encourageons à
  nous envoyer un email à l'une de nos adresses de la page
  contact. Ou a signaler celui-ci directement sur le <a target="_blank" href="http://redmine.quiedeville.org/projects/hypadrie/issues/new">gestionnaire de bug</a>
  utilisé pour le développement du projet.
</p>
<p>
  La version utilisée sur ce site est le numéro : {{hypadrie_version}}
</p>

{% endblock %}
