{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">

    {% include "left.html" %}
    
    <div class="span9">

      <table class="table table-bordered table-striped">
	<tr>
	  <td>username</td>
	  <td>{{user.username}}</td>
	</tr>        
	<tr>
	  <td>api key</td>
	  <td>{{apikey.key}}</td>
	</tr>
      </table>

      <h3>Accès anonyme</h3>

      <table class="table table-bordered table-striped">
	<tr>
	  <td>Liste des évènements</td>
	  <td><a target="_blank" href="http://{{site.domain}}/api/v1/event/?format=json">http://{{site.domain}}/api/v1/event/?format=json</a></td>
	</tr>
	<tr>
	  <td>Liste des inscrits</td>
	  <td><a target="_blank" href="http://{{site.domain}}/api/v1/booking/?format=json">http://{{site.domain}}/api/v1/booking/?format=json</a></td>
	</tr>
      </table>

      <h3>Accès authentifié</h3>

      <table class="table table-bordered table-striped">
	<tr>
	  <td>Liste des évènements</td>
	  <td><a target="_blank" href="http://{{site.domain}}/api/v1/auth/event/?format=json&username={{user.username}}&api_key={{apikey.key}}">http://{{site.domain}}/api/v1/auth/event/?format=json&username={{user.username}}&api_key={{apikey.key}}</a></td>
	</tr>

	<tr>
	  <td>Liste des inscrits</td>
	  <td><a target="_blank" href="http://{{site.domain}}/api/v1/auth/booking/?format=json&username={{user.username}}&api_key={{apikey.key}}">http://{{site.domain}}/api/v1/auth/booking/?format=json&username={{user.username}}&api_key={{apikey.key}}</a></td>
	</tr>

      </table>


    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->
{% include "footer.html" %}
