{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">    
    {% include "left.html" %}    
    <div class="span9">      
        {% block content %}{% endblock %}	
    </div><!--/span-->
  </div><!--/row-->  
</div><!--/.container-->
{% include "footer.html" %}
