{% load i18n %}

	  <table class="table table-bordered table-striped">
	    <thead>
	      <tr>
		<th>{% trans "Date" %}</th><th>{% trans "Hour" %}</th>
		<th>{% trans "Show" %}</th>
		<th>{% trans "RoomPlace" %}</th>
		<th>{% trans "Places" %}</th>
		<th>Résa A/B/C/D/E</th>
		<th>{% trans "Dispo" %}</th>
		<th>{% trans "PDF" %}</th>
		<th>{% trans "CSV" %}</th>
	      </tr>
	    </thead>
	    <tbody>
	      <tr>
		<td>{% ifchanged %}{{perf.date|date:"D j M Y"}}{% endifchanged %}</td>
		<td>{{perf.date|date:"H:i"}}</td>
		<td><a href="{{prefix_url}}/representation/{{ perf.id }}">{{ perf.show }}</a></td>
		<td>{{perf.place.town}} {{ perf.place }}</td>
		<td>{{perf.nb_places_available }}</td>
		<td>{{perf.nb_places_a_booked}} /
		{{perf.nb_places_b_booked }} /
		{{perf.nb_places_c_booked }} /
		{{perf.nb_places_d_booked }} / {{perf.nb_places_e_booked }}</td>
		<td>
		  {% if perf.is_complete %}
		  <span class="badge badge-error">{% trans "PerformanceSold" %}</span>
		  {% else %}
		  {% if perf.booking_is_open %}
		  <span class="badge badge-success">{{perf.nb_places_free}}</span>
		  {% else %}
		  <span class="badge badge-info">Fermée</span>
		  {% endif %}
		  {% endif %}
		</td>
		<td>
		  <a href="{{prefix_url}}/representation/{{ perf.id }}/pdf/">PDF</a>
		</td>
		<td>
		  <a href="{{prefix_url}}/representation/{{ perf.id }}/csv/">CSV</a>
		</td>
	      </tr>        
	    </tbody>
	  </table>
