{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">      
    <div class="span12">

      {% if prefix_url %}
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Festival" %}</th>
	    <th>{% trans "Places réservées" %}</th>
	    <th>{% trans "CSV" %}</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>{{ festival.title }}</td>
	    <td>{{ festival.nb_places_booked }}</td>
	    <td>
	      <a href="{{prefix_url}}/representation/{{ festival.id }}/festival/csv/">CSV</a>
	    </td>
	  </tr>        
	</tbody>
      </table>
      {% endif %}
      
      {% if latest_perf_list %}
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Date" %}</th><th>{% trans "Hour" %}</th>
	    <th>Spectacle</th>
	    <th>{% trans "Town" %}</th><th>Salle</th>
	    <th>Places</th>
	    <th>Résa A/B/C/D/E</th>
	    <th>Dispo</th>
	  </tr>
	</thead>
	<tbody>
	  {% for perf in latest_perf_list %}
	  <tr>
	    <td>{% ifchanged %}{{perf.date|date:"D j M Y"}}{% endifchanged %}</td>
	    <td>{{perf.date|date:"H:i"}}</td>
	    <td><a href="{{prefix_url}}/resalist/{{ perf.id }}">{{ perf.show }}</a></td>
	    <td>{{perf.place.town}}</td><td>{{ perf.place }}</td>
	    <td>{{perf.nb_places_available }}</td>
	    <td>{{perf.nb_places_a_booked }} / {{perf.nb_places_b_booked }} / {{perf.nb_places_c_booked }} / {{perf.nb_places_d_booked }} / {{perf.nb_places_e_booked }}</td>
	    <td align="center">
	      {% if perf.is_complete %}
	      <span class="badge badge-error">Complet</span>
	      {% else %}
	      {% if perf.booking_is_open %}
	      <span class="badge badge-success">{{perf.nb_places_free}}</span>
	      {% else %}
	      <span class="badge badge-info">Fermée</span>
	      {% endif %}
	      {% endif %}
	    </td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% else %}
      <p>Aucunes représentations prévues.</p>
      {% endif %}
      
    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->

{% include "footer.html" %}
