{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
    <div class="row">      
      <div class="span12">

	  <div class="pagination">
	    <ul>
	      <li class="previous">
		<a href="?page={{bookings.previous_page_number}}">&larr;</a>
	      </li>
	      {% for page in bookings.paginator.page_range %}
	      {% if page == bookings.number %}
	      <li class="active">
	      {% else %}
	      <li>
		{% endif %}
		<a href="?page={{page}}">{{page}}</a>
	      </li>
	      {% endfor %}
	      <li class="next">
		<a href="?page={{bookings.next_page_number}}">&rarr;</a>
	      </li>
	    </ul>
	  </div>
	  <h3>Réservation pour : {{email_qry}}, ({{nb_bookings}})</h3>
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>{% trans "Show" %}</th>
		<th>{% trans "Date" %}</th>
		<th>Prénom Nom</th>
		<th>Places</th>
		<th>Email</th>
		<th>Date réservation</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for book in bookings.object_list %}
	      <tr>
		<td><a href="/resalist/{{book.performance.id}}/">{{book.performance.show.title}}</a></td>
		<td>{{book.performance.date|date:"D j b Y H:i"}}</td>
		<td>{{book.firstname}} {{book.name}}</td>
		<td>{{book.nb_places_str}}</td>
		<td><a href="/resalist/email/{{book.email}}/">{{book.email}}</a></td>
		<td>{{book.booking_date|date:"j/m/y H:i"}}</td>
		<td><a href="#del" onclick="hypaDelConfirm('{{book.uuid}}')" class="btn btn-mini btn-danger">{% trans "Delete" %}</a></td>
	      </tr>

	      <div class="modal hide" id="myModal{{book.uuid}}">
		<div class="modal-header">
		  <h3>{% trans "Confirm delete" %}</h3>
		</div>
		<div class="modal-body">
		  <p>
		    <ul>
		      <li>{% trans "Firstname" %} {% trans "Name" %} : {{book.firstname}} {{ book.name }}</li>
		      <li>{% trans "Adult places" %} : {{book.places_adult }}</li>
		      <li>{% trans "Child places" %} : {{book.places_child }}</li>
		      <li>{% trans "Amount" %} : {{book.price_total|floatformat:2 }}</li>
		      <li>{% trans "Email" %} : {{book.email}}</li>
		      <li>{% trans "Date" %} : {{book.booking_date|date:"D j b Y H:i"}}</li>
		    </ul>
		  </p>
		</div>
		<div class="modal-footer">
		  <a href="#" class="btn" data-dismiss="modal">{% trans "Cancel" %}</a>
		  <a href="{{prefix_url}}/resalist/{{book.performance.id}}/delete/{{book.uuid}}" class="btn btn-primary">{% trans "Delete" %}</a>
		</div>
	      </div>

	      {% endfor %}
	    </tbody>
	  </table>




      </div><!--/row-->
    </div><!--/row-->
            
  </div><!--/.container-->
  <script src="{{ STATIC_URL }}js/bootstrap-modal.js"></script>
  <script src="{{ STATIC_URL }}js/bootstrap-alert.js"></script>
  <script src="{{ STATIC_URL }}js/bookings.js"></script>
  {% include "footer.html" %}
