{% extends "base.html" %}
{% load i18n %}
{% block content %}
<p>
  Si vous souhaitez obtenir des information sur un
  spectacle ou une représentation particulière
  adressez-vous directement au resprésentant du spectacle,
  vous obtiendrez ses coordonnées depuis la liste des <a href="/spectacles/">spectacles</a>.
</p>
<p>
  Pour un renseignement sur le sevice Hypadrie.eu ou le logiciel Hypadrie
  adressez vos demandes à directement <a href="http://rodolphe.quiedeville.org/contact.fr.html">Rodolphe Quiédeville</a>.
</p>
{% endblock %}
