{% include "header.html" %}
{% include "navbar.html" %}
{% load i18n %}
<div class="container">
  
  <div class="row">

    <div class="span3">

      <div class="visible-desktop">
	{% if festival.media_url %}
	{% if festival.external_url %}
	<a href="{{ festival.external_url }}" target="_blank">
	<img src="{{ festival.media_url }}" /></a>
	{% else %}
	<img src="{{ festival.media_url }}" />
	{% endif %}
	{% endif %}
      </div>
    </div><!--/span-->

    <div class="span9">
      

	<div class="page-header">
	  <h1>{{ festival.title }}</h1>
	</div>

	<div class="well">
	  <p>{{ festival.description }}</p>
	</div>

	<div style="padding-bottom: 6px">
	  <span class="badge badge-success" style="font-size: 1.2em">Du {{ festival.date_begin|date:"l d F" }} au {{ festival.date_end|date:"l d F Y" }}</span>
	</div>
	
	<div>
	  {% if perf_list %}
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>{% trans "Date" %}</th><th>Heure</th>
		<th>Places</th>
		<th>Spectacle</th>
		<th>Lieu</th>
		<th>Réservation</th>
	      </tr>
	    </thead>
	    <tbody>
	      {% for perf in perf_list %}
	      <tr>
		<td>{% ifchanged %}{{perf.date|date:"D j M Y"}}{% endifchanged %}</td>
		<td>{{perf.date|date:"H:i"}}</td>
		<td>
		  {% if perf.nb_places_dispo > 0 and perf.booking_is_open %}
		  <span class="badge badge-info">{{perf.nb_places_dispo}}</span>
		  {% endif %}
		</td>
		<td><a href="/{{festival.url}}/spectacle/{{ perf.show.id }}">{{ perf.show }}</a></td>
		<td>{{perf.place.town}}, {{ perf.place }}</td>
		<td>
		  {% if perf.is_complete %}
		  <a class="btn btn-danger disabled" href="#">Complet</a>
		  {% else %}
		  {% if perf.booking_is_open %}
		  <!-- TODO link inter festival -->
		  <a class="btn btn-success" href="{{prefix_url}}/representation/{{ perf.id }}">Réserver</a>
		  {% else %}
		  <a class="btn btn-info disabled">Fermée</a>
		  {% endif %}
		  {% endif %}
		</td>
	      </tr>        
	      {% endfor %}
	    </tbody>
	  </table>
	  {% else %}
	  <p>Aucunes représentations prévues.</p>
	  {% endif %}
	</div>

    </div><!--/span-->
  </div><!-- /.row -->
</div><!--/container-->
{% include "footer.html" %}
