{% extends "base.html" %}
{% load i18n %}
{% block content %}
      
      <h3>{% trans "Lost booking" %}</h3>
      <div>
	<p>
	{% blocktrans %}
	You've lost your confirmation's email and you can't remember
	how many places you've booked recently ? Fill the form below
	and we'll send you an email with all informations.
	{% endblocktrans %}</p>
      </div>
      {% if helpform == 'found' %}
	  <div class="alert alert-success">
	    <p>{% trans "The email address was found, an email with your last booking was sent to you." %}</p>
	    <p>{% trans "email :" %} {{form.email.value}}</p>
	  </div>
      
      {% else %}
      <form class="well form-horizontal" action="/help/" method="post">
	{% csrf_token %}
	<fieldset>
	  {% if helpform == 'notfound' %}
	  <div class="alert alert-error">
	    {% trans "This email address was not found" %}
	  </div>
	  {% endif %}
	  <div class="control-group">
	    <label class="control-label" for="email">{% trans "email" %}</label>
	    <div class="controls">
	      {{form.email}}{{form.email.errors}}
	    </div>
	  </div>
	  <div class="control-group">
	    <input type="submit" class="btn" value="{% trans 'Send' %}" />
	  </div>	    
	</fieldset>
      </form>
      {% endif %}

{% endblock %}
