{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">   
    {% include "left.html" %}    
    <div class="span9">
      <div class="page-header">
	<h2>Accés réservé</h2>
      </div>
      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}
      
      <form method="post" action="/auth">
	{% csrf_token %}
	<table class="table table-bordered table-striped">
	  <tbody>
	    <tr>
	      <td>Utilisateur</td>
	      <td><input type="text" name="username"></td>
	    </tr>
	    <tr>
	      <td>Mot de passe</td>
	      <td><input type="password" name="password"></td>
	    </tr>
	  </tbody>
	</table>
	
	<input class="btn btn-primary" type="submit" value="login" />
	<input type="hidden" name="next" value="{{ next }}" />
      </form>
      
    </div><!--/span-->
  </div><!--/row-->  
</div><!--/.container-->
{% include "footer.html" %}
