{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">

    {% include "left.html" %}
    
    <div class="span9">

      <iframe width="1640" height="500" frameborder="0" scrolling="no"
	      marginheight="0" marginwidth="0"
	      src="http://cartosm.eu/map?lon=-2.7418660590109&lat=47.698723561373&zoom=13&width=640&height=500&mark=true&nav=true&pan=true&zb=inout&style=default&icon=music-classical">
      </iframe>     
      
    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->
{% include "footer.html" %}
