{% load i18n %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="{{prefix_url}}/">Hypadrie</a>


      <li class="dropdown visible-phone" id="menu2">
	<a class="dropdown-toggle" data-toggle="dropdown" href="#menu2">Menu<b class="caret"></b></a>
	<ul class="dropdown-menu">

	  {% if onglet == 'performances' %}
          <li><a href="{{prefix_url}}/representations/">Représentations <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/representations/">Représentations</a></li>
	  {% endif %}

	  {% if onglet == 'shows' %}
          <li><a href="{{prefix_url}}/spectacles/">Spectacles <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/spectacles/">Spectacles</a></li>
	  {% endif %}

	  {% if user.is_authenticated %}
	  {% if onglet == 'bookings' %}
          <li><a href="{{prefix_url}}/resa/">Réservations <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/resa/">Réservations</a></li>
	  {% endif %}
	  {% endif %}

	  {% if onglet == 'help' %}
          <li><a href="{{prefix_url}}/help/">{% trans "Help" %} <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/help/">{% trans "Help" %}</a></li>
	  {% endif %}

	  {% if onglet == 'contact' %}
          <li><a href="{{prefix_url}}/contact/">Contact <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/contact/">Contact</a></li>
	  {% endif %}

	  {% if onglet == 'about' %}
          <li><a href="{{prefix_url}}/about/">A propos <i class="icon-ok"></i></a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/about/">A propos</a></li>
	  {% endif %}

	  <li>
	    {% if user.is_authenticated %}
	    Salut à toi {{ user.username }} /
	    <a href="/accounts/logout/">Déconnexion</a>
	    {% else %}
	    <a href="/accounts/login/">log in</a>
	    {% endif %}
	  </li>
	  
	</ul>
      </li>

      
      <div class="nav-collapse hidden-phone">
        <ul class="nav">
	  {% if onglet == 'performances' %}
          <li class="active"><a href="{{prefix_url}}/representations/">Représentations</a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/representations/">Représentations</a></li>
	  {% endif %}

	  {% if onglet == 'shows' %}
          <li class="active"><a href="{{prefix_url}}/spectacles/">Spectacles</a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/spectacles/">Spectacles</a></li>
	  {% endif %}

	  {% if onglet == 'help' %}
          <li class="active"><a href="{{prefix_url}}/help/">{% trans "Help" %}</a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/help/">{% trans "Help" %}</a></li>
	  {% endif %}

	  {% if onglet == 'contact' %}
          <li class="active"><a href="{{prefix_url}}/contact/">Contact</a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/contact/">Contact</a></li>
	  {% endif %}

	  {% if onglet == 'about' %}
          <li class="active"><a href="{{prefix_url}}/about/">A propos</a></li>
	  {% else %}
          <li><a href="{{prefix_url}}/about/">A propos</a></li>
	  {% endif %}
        </ul>

	<form class="navbar-search pull-left" action="/search/">
	  <input type="text" class="search-query" name="q" placeholder="Search">
	  <input type="hidden" name="models" value="resa.show">
	</form>

        <p class="navbar-text pull-right">
	    {% if user.is_authenticated %}
	    Salut à toi {{ user.username }} /
	    <a href="/accounts/logout/">Déconnexion</a>
	    {% else %}
	    <a href="/accounts/login/">log in</a>
	    {% endif %}
	</p>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
  </div><!--/.navbar-inner -->
</div><!--/.navbar -->
