{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}
<div class="container">
  <div class="row">
      
    {% include "left.html" %}

    <div class="span9">
	

      <div class="page-header">
	<h1>Prochaines représentations</h1>
      </div>
      
      {% if next_perf_list %}
      <table class="table table-striped">
	<thead>
	  <tr>
	    {% comment %}@TODO@ Fix translation Translators: only one word here please{% endcomment %}
	    <th>{% trans "Date" %}</th><th>{% trans "Hour" %}</th>
	    <th>{% trans "FreePlaces" %}</th>
	    <th>{% trans "Show" %}</th>
	    <th>{% trans "Place" %}</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	  {% for perf in next_perf_list %}
	  <tr>
	    <td>
	      {% ifchanged %}{{perf.date|date:"D j M Y"}}		  		  
	      {% if perf.date|date:"Ymd" ==  today %}
	      <i class="icon-star"></i>
	      {% endif %}
	      {% endifchanged %}
	    </td>
	    <td>{{perf.date|date:"H:i"}}</td>
	    <td>
	      {% if perf.nb_places_dispo > 0 and perf.booking_is_open %}
	      <span class="badge badge-info">{{perf.nb_places_dispo}}</span>
	      {% endif %}
	    </td>
	    <td><a href="{{prefix_url}}/spectacle/{{ perf.show.id }}">{{ perf.show }}</a></td>
	    <td>{{perf.place.town}}, {{ perf.place }}</td>
	    <td>
	      {% if perf.is_complete %}
	      <a class="btn btn-danger disabled" href="#">{% trans "FullyBooked" %}</a>
	      {% else %}
	      {% if perf.booking_is_open %}
	      <a class="btn btn-success" href="{{prefix_url}}/representation/{{ perf.id }}">{% trans "ToBook" %}</a>
	      {% else %}
	      <a class="btn btn-info disabled">{% trans "Closed" %}</a>
	      {% endif %}
	      {% endif %}
	    </td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% else %}
      <p>Aucunes représentations prévues.</p>
      {% endif %}            
    </div><!--/span-->
  </div><!--/row--> 
</div><!--/.container-->
  
{% include "footer.html" %}
