{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">

    {% include "left.html" %}

    <div class="span9">
      
	<div class="page-header">
	  <h2>{% trans "Booking" %}</h2>
	</div>
	{% include "performance_table.html" %}
	
	{% if perf.nb_places_onspot > 0 and perf.is_complete %}
	<div>
	  <p>
	    Il y aura <span class="badge badge-info">{{perf.nb_places_onspot}}</span> places à la vente sur place le jour du spectacle.
	  </p>
	</div>
	{% endif %}


	{% if perf.booking_is_open and not perf.is_complete %}
	<div>
	  <p>Il reste encore <span class="badge badge-info">{{perf.nb_places_dispo}}</span> places ouvertes à la réservation.
	    {% if perf.nb_places_onspot > 0 %}
	    Il y aura <span class="badge badge-info">{{perf.nb_places_onspot}}</span> places à la vente sur place le jour du spectacle.
	    {% endif %}
	  </p>
	</div>

	{% if form.non_field_errors %}
	<div class="alert alert-error">
	  {{ form.non_field_errors }}
	</div>
	{% endif %}
	
	<form class="well form-horizontal" action="{{ prefix_url }}/representation/{{perf.id}}/resa/" method="post">
	  {% csrf_token %}
	  <fieldset>

	    <div class="control-group">
	      <label class="control-label" for="firstname">{% trans "Firstname" %}</label>
	      <div class="controls">
		{{form.firstname}}
		<!--<input class="input-large focused" name="firstname" id="id_firstname" type="text" onchange="activate_or_not()">-->
	      </div>
	    </div>
	    
	    <div class="control-group">
	      <label class="control-label" for="name">{% trans "Name" %}</label>
	      <div class="controls">
		{{form.name}}
	      </div>
	    </div>
	    
	    <div class="control-group">
	      <label class="control-label" for="email">{% trans "email" %}</label>
	      <div class="controls">
		{{form.email}}
	      </div>
	    </div>
	    	    
	    <div class="row">

	      <div class="control-group">
		<label class="control-label" for="nb_place_a">{% trans "Nb places au Tarif A" %}</label>
		<div class="controls">
		  {{form.nb_place_a}}
		  <span class="labelprice">{{ perf.label_a }}</span>&nbsp;
		  <span class="badge badge-success" id="tarifa">{{ perf.price_a|floatformat:2 }}</span> euros
		</div>
	      </div>

	      {% if perf.price_b > 0 %}
	      <div class="control-group">
		<label class="control-label" for="nb_place_b">{% trans "Nb places au Tarif B" %}</label>
		<div class="controls">
		  {{form.nb_place_b}}
		  
		  <span class="labelprice">{{ perf.label_b }}</span>&nbsp;
		  <span class="badge badge-success" id="tarifb">{{ perf.price_b|floatformat:2 }}</span> euros
		</div>
	      </div><!-- .control-group -->
	      {% else %}
	      <input type="hidden" name="nb_place_b" value="0">
	      {% endif %}
	      
	      {% if perf.price_c > 0 %}
	      
	      <div class="control-group">
		<label class="control-label" for="nb_place_c">{% trans "Nb places au Tarif C" %}</label>
		<div class="controls">
		  {{form.nb_place_c}}
		  <span class="labelprice">{{ perf.label_c }}</span>&nbsp;
		  <span class="badge badge-success" id="tarifc">{{ perf.price_c|floatformat:2 }}</span> euros
		</div>
	      </div><!-- .control-group -->
	      {% else %}
	      <input type="hidden" name="nb_place_c" value="0">
	      {% endif %}

	      {% if perf.price_d > 0 %}

	      <div class="control-group">
		<label class="control-label" for="nb_place_d">{% trans "Nb places au Tarif D" %}</label>
		<div class="controls">{{form.nb_place_d}}
		  
		  <span class="labelprice">{{ perf.label_d }}</span>&nbsp;
		  <span class="badge badge-success" id="tarifd">{{ perf.price_d|floatformat:2 }}</span> euros
		</div>
	      </div>
	      {% else %}
	      <input type="hidden" name="nb_place_d" value="0">
	      {% endif %}
	      {% if perf.price_e > 0 %}
	      <div class="control-group">
		<label class="control-label" for="nb_place_e">{% trans "Nb places au Tarif E" %}</label>
		  <div class="controls">{{form.nb_place_e}}

		<span class="labelprice">{{ perf.label_e }}</span>&nbsp;
		<span class="badge badge-success" id="tarife">{{ perf.price_e|floatformat:2 }}</span> euros
	      </div>
	    </div>
	    {% else %}
	    <input type="hidden" name="nb_place_e" id="id_nb_place_e" value="0">
	    {% endif %}
	    <div class="control-group">
	      <input id="book_btn" type="submit" class="btn disabled" disabled value="{% trans "Book" %}" />
	      <span id="spantotal" class="badge badge-info" hidden="true"></span>
	    </div>
	    
	  </fieldset>
	</form>
	{% else %}
	<div>
	  {% if perf.is_complete %}
	  <div class="alert alert-error">Ce spectacle est complet.</div>
	  {% else %}
	  <div class="alert alert-info">La réservation pour ce spectacle est fermée.</div>
	  {% endif %}
	</div>
	{% endif %}

	{% if user.is_authenticated %}
	<div class="well">
	  <div>
	    Liste des réservations : <a href="/representation/{{ perf.id }}/pdf/">liste.pdf</a>
	  </div>
	  <div>
	    <ul>
	      <li>nb places : {{ perf.nb_places_available}}</li>
	      <li>nb places réservées : {{ perf.nb_places_booked }}</li>
	      <ul>
		<li>Tarif A : {{ perf.nb_places_a_booked }} places, soit {{ perf.price_a_booked|floatformat:2 }}</li>
		{% if perf.price_b > 0 %}
		<li>Tarif B : {{ perf.nb_places_b_booked }} places, soit {{ perf.price_b_booked|floatformat:2 }}</li>
		{% endif %}
		{% if perf.price_c > 0 %}
		<li>Tarif C : {{ perf.nb_places_c_booked }} places, soit {{ perf.price_c_booked|floatformat:2 }}</li>
		{% endif %}
		{% if perf.price_d > 0 %}
		<li>Tarif D : {{ perf.nb_places_d_booked }} places, soit {{ perf.price_d_booked|floatformat:2 }}</li>
		{% endif %}
		{% if perf.price_e > 0 %}
		<li>Tarif E : {{ perf.nb_places_e_booked }} places, soit {{ perf.price_e_booked|floatformat:2 }}</li>
		{% endif %}
	      </ul>
	      <li>Total : {{ perf.price_booked|floatformat:2 }} euros</li>
	    </ul>
	  </div>
	</div>
	{% endif %}	
	
    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->
  
{% include "footer.html" %}
  
