{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">
      
    {% include "left.html" %}

    <div class="span9">
      <div class="page-header">
	<h2>Réservation</h2>
      </div>
      {% include "performance_table.html" %}
      
      {% if result == 'success' %}
      <div class="alert alert-success">
	<p>Votre réservation {{uuid}} a été annulée</p>
      </div>
      {% endif %}
      {% if result == 'notexist' %}
      <div class="alert alert-danger">
	<p>Ce numéro de billet n'existe pas : {{uuid}}</p>
      </div>
      {% endif %}
    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->

{% include "footer.html" %}
