{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

  <div class="container">
    <div class="row">
      {% include "left.html" %}
      <div class="span9">
	

	    <div class="page-header">
	      <h2>Réservation</h2>
	    </div>
	    {% include "performance_table.html" %}

	    <div class="alert alert-success">
	      <p>{% trans "Thanks for your booking, please find here your book number :" %} {{booking.uuid}}</p>
	      <p>{% trans "You'll receive an email with your booking number, remind to check your spam folder if you don't see the email in you inbox." %}
		{% trans "The email sender is :" %} {{email_from}}
	      </p>
	      
	    </div>
	    <div class="well">
	      <table class="table table-bordered">
		<tbody>		
		  <tr>
		    <td>{% trans "Firstname" %} / {% trans "Name" %}</td><td>{{ booking.firstname }} {{ booking.name }}</td>
		  </tr>
		  <tr>
		    <td>Email</td><td>{{ booking.email }}</td>
		  </tr>
		  {% if nbplace_a > 0 %}
		  <tr>
		    <td>Place au tarif A</td><td><span class="badge badge-warning">{{ nbplace_a }}</span></td>
		  </tr>
		  {% endif %}
		  {% if nbplace_b > 0 %}
		  <tr>
		    <td>Place au tarif B</td><td><span class="badge badge-warning">{{ nbplace_b }}</span></td>
		  </tr>
		  {% endif %}
		  {% if nbplace_c > 0 %}
		  <tr>
		    <td>Place au tarif C</td><td><span class="badge badge-warning">{{ nbplace_c }}</span></td>
		  </tr>
		  {% endif %}
		  {% if nbplace_d > 0 %}
		  <tr>
		    <td>Place au tarif D</td><td><span class="badge badge-warning">{{ nbplace_d }}</span></td>
		  </tr>
		  {% endif %}
		  {% if nbplace_e > 0 %}
		  <tr>
		    <td>Place au tarif E</td><td><span class="badge badge-warning">{{ nbplace_e }}</span></td>
		  </tr>
		  {% endif %}
		  <tr>
		    <td colspan="2">
		      {% trans "Price" %} : {{booking.price_total|floatformat:2}} euros
		    </td>
		  </tr>
		</tbody>
	      </table>
	    </div>
	    <div class="alert alert-info">
	      <p>
		Vous pouvez l'annuler en cliquant sur ce bouton : <a class="btn btn-info" href="{{prefix_url}}/p/{{perf.id}}/c/{{booking.uuid}}">annulation</a>
	      </p>
	    </div>

      </div><!--/span-->
    </div><!--/row-->
        
  </div><!--/.container-->
  
  {% include "footer.html" %}
  
