{% load i18n %}
<div>
    <table class="table table-bordered">
	<tr>
	  <td>{% trans "Date" %}</td>
	  <td colspan="4">
	    <a href="{{prefix_url}}/representation/{{perf.id}}">{{perf.date|date:"l j F Y" }}</a>
	    à
	    <a href="{{prefix_url}}/representation/{{perf.id}}">{{perf.date|date:"H:i" }}</a>
	  </td>
	</tr>
	<tr>
	  <td>{% trans "Show" %}</td>
	  <td colspan="4"><strong>{{ perf.show }}</strong></td>
	</tr>
	<tr>
	  <td>{% trans "RoomPlace" %}</td>
	  <td colspan="4">{{ perf.place }}, {{ perf.place.town }}</td>
	</tr>
    </table>      
</div>
