<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://{{PIWIK_FQDN}}/" : "http://{{PIWIK_FQDN}}/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", {{PIWIK_ID}});
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://{{PIWIK_FQDN}}/piwik.php?idsite={{PIWIK_ID}}" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
