{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">

    {% include "left.html" %}
    
    <div class="span9">

	<div class="page-header">
	  <h1>Salle</h1>
	</div>

	<div>
	  {{ place.title }}
	  {{ place.address }}{{ place.town }}
	</div>

	{% if place.lon and place.lat %}
	<div id="divleaf"></div>      
	<script src="{{ STATIC_URL }}js/leaflet.js"></script>
	<script type="text/javascript">
	  /*
	  * Leaflet map
	  *
	  */
	  var map = new L.Map('divleaf', {zoomControl: true });    
	  var Url = 'http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png';	  
	  var myAttribution = "Map data &copy; 2012 <a href='http://www.openstreetmap.org/'>OpenStreetMap</a> contributors";	  
	  var myLayer = new L.TileLayer(Url, {minZoom:5, maxZoom: 18, attribution: myAttribution});	  
	  var center = new L.LatLng({{latstr}}, {{lonstr}});	  
	  var zoom = 15;	  
	  map.setView(center, zoom);	  
	  map.addLayer(myLayer);
	  var marker = new L.Marker(center);
	  map.addLayer(marker);
	</script>
	{% endif %}	

    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->

{% include "footer.html" %}
