{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  <div class="row">

    {% include "left.html" %}
    
    <div class="span9">      
      {% if festivals %}
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Festival" %}</th>
	    <th>{% trans "Places réservées" %}</th>
	    <th>{% trans "Résa" %}</th>
	    <th>{% trans "CSV" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for festival in festivals %}
	  <tr>
	    <td>{{ festival.title }}</td>
	    <td>{{ festival.nb_places_booked }}</td>
	    <td><a href="/{{festival.url}}/resa/">Résa</a></td>
	    <td><a href="/{{festival.url}}/representation/{{ festival.id }}/festival/csv/">CSV</a></td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}

      {% if shows %}
      <table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>{% trans "Spectacle" %} (<a href="/accounts/spectacles/">{% trans "All" %}</a>)</th>
	    <th>{% trans "Performances" %}</th>
	    <th>{% trans "Résa" %}</th>
	    <th>{% trans "CSV" %}</th>
	  </tr>
	</thead>
	<tbody>
	  {% for show in shows %}
	  <tr>
	    <td><a href="/accounts/spectacle/{{show.id}}">{{ show.title }}</a></td>
	    <td>{{ show.nb_perf }}</td>
	    <td><a href="/accounts/spectacle/{{show.id}}/resa/">liste</a></td>
	    <td><a href="/{{show.url}}/representation/{{ show.id }}/show/csv/">CSV</a></td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}



    </div><!--/span-->
  </div><!--/row-->
  
</div><!--/.container-->
{% include "footer.html" %}
