{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container" id="container">
  <div class="row">
    {% include "left.html" %}    
    <div class="span9">
	
	<div class="page-header">
	  <h1>Les spectacles</h1>
	</div>
	
	{% if latest_show_list %}
	<table class="table table-bordered table-striped">
	  <thead>
	    <tr>
	      <th>{% trans "Show" %}</th>
	      <th>{% trans "Company" %}</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for show in latest_show_list %}
	    <tr>
	      <td><a href="{{prefix_url}}/spectacle/{{ show.id }}">{{ show.title }}</a></td>
	      <td>{{ show.company }}</td>
	      </tr>        
	    {% endfor %}
	  </tbody>
	</table>
	{% else %}
	<p>Aucun spectacle connu.</p>
	{% endif %}	
    </div><!--/span-->
  </div><!-- /.row -->
</div><!--/.container-->
{% include "footer.html" %}
