{% load i18n %}
{% include "header.html" %}
{% include "navbar.html" %}

<div class="container">
  
  <div class="row">

    <div class="span3">
      <div class="well" style="padding: 8px 0;">

	  <ul class="nav nav-list">
	    <li><h6>{% trans "Company" %}</h6></li>
	    <li><a href="{{ show.company_url }}" target="_blank"><i class="icon-home"></i> {{ show.company }}</a></li>
	    <li><h6>Contact</h6></li>
	    <li>{{ show.contact_name }}</li>
	    {% if show.contact_tel %}
	    <li>{{ show.contact_tel }}</li>
	    {% endif %}
	    {% if show.contact_email %}
	    <li>{{ show.contact_email }}</li>
	    {% endif %}
	    {% if show.show_url %}
	    <li><a href="{{ show.show_url }}" target="_blank"><i class="icon-plus"></i> plus d'infos</a></li>
	    {% endif %}
	  </ul>	  


      </div><!--/.well -->
    </div><!--/span-->
    
    <div class="span9">
      
      <div class="page-header">
	<h1>{{ show.title }}</h1>
      </div>
      
      <div class="well">
	<p>{{ show.description }}</p>
      </div>
      
      {% if next_perf_list %}
      <h4>Prochaines représentations</h4>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Date</th><th>Heure</th>
	    <th>Places</th>
	    <th>Lieu</th>
	    <th>Réservation</th>
	  </tr>
	</thead>
	<tbody>
	  {% for perf in next_perf_list %}
	  <tr>
	    <td>{% ifchanged %}{{perf.date|date:"D j M Y"}}{% endifchanged %}</td>
	    <td>{{perf.date|date:"H:i"}}</td>
	    <td>
	      {% if perf.nb_places_dispo > 0 and perf.booking_is_open %}
	      <span class="badge badge-info">{{perf.nb_places_dispo}}</span>
	      {% endif %}
	    </td>
	    <td>{{perf.place.town}}, {{ perf.place }}</td>
	    <td>
	      {% if perf.is_complete %}
	      <a class="btn btn-mini btn-danger disabled" href="#">Complet</a>
	      {% else %}
	      {% if perf.booking_is_open %}
	      <a class="btn btn-mini btn-success" href="{{prefix_url}}/representation/{{ perf.id }}">Réserver</a>
	      {% else %}
	      <a class="btn btn-mini btn-info disabled">Fermée</a>
	      {% endif %}
	      {% endif %}
	    </td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}

      {% if prev_perf_list %}
      <h4>Représentations passées</h4>
      <table class="table table-striped">
	<thead>
	  <tr>
	    <th>Date</th><th>Heure</th>
	    <th>Lieu</th>
	  </tr>
	</thead>
	<tbody>
	  {% for perf in prev_perf_list %}
	  <tr>
	    <td>{% ifchanged %}{{perf.date|date:"D j M Y"}}{% endifchanged %}</td>
	    <td>{{perf.date|date:"H:i"}}</td>
	    <td>{{perf.place.town}}, {{ perf.place }}</td>
	  </tr>        
	  {% endfor %}
	</tbody>
      </table>
      {% endif %}
    </div>
  </div><!-- /.row --> 
</div><!--/.container-->
{% include "footer.html" %}
